body {
    margin: 0px;
    background-color: rgba(128, 128, 128, 0.396);
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 3fr 3fr;
}

.sidebar {
    width: 250px;
    background-color: rgb(64, 115, 224);
}

.upper div:nth-child(1) {
    color: white;
    font-size: 30px;
}

.upper div {
    margin: 20px;
    color: white;
}

.lower div{
    margin: 20px;
    color: white;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 30px;
    gap: 40px;
    padding: 10px;
}

button {
    margin: 20px;
}

.content {
    /* background-color:  rgba(128, 128, 128, 0.396); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    width: 1000px;
    gap: 40px;
}

.content div {
    background-color: white;
    box-shadow: 2px 2px 2px black;
    border-left: 2px solid orange;
}

.project {
    position: absolute;
    margin-top: 40px;
}

.box {
    display: grid;
    grid-template-columns: 1fr;
    width: 300px;
    background: white;
    box-shadow: 2px 2px 2px black;
    text-align: center;
    margin-top: 30px;
}

.handles {
    background: white;
    box-shadow: 2px 2px 2px black;
    grid-column: 2 / 2;
    width: 300px;
    text-align: center;
    margin-top: 20px;
}

input {
    width: 500px;
}

.announce {
    position: absolute;
    margin-top: 20px;
}

.trend {
    position: absolute;
    text-align: start;
    margin-top: 440px;
}