body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 3fr 3fr;
}

.sidebar {
    background-color: rgb(64, 115, 224);
    height: 975px;
    text-align: center;
}

.upper div:nth-child(1) {
    color: white;
    font-size: 30px;
}

.upper div {
    margin: 20px;
    color: white;
}

.lower div{
    margin: 20px;
    color: white;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 30px;
    gap: 40px;
    padding: 10px;
}

button {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background: rgb(64, 115, 224);
    border-color: rgb(64, 115, 224);
    margin-top: 30px;
}

.content {
    background-color:  rgba(128, 128, 128, 0.396);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1000px;
    gap: 40px;
    align-items: center;
    padding: 30px;
}

.content div {
    background-color: white;
    box-shadow: 2px 2px 2px black;
    border-left: 2px solid orange;
}

.content div:nth-child(1){
    font-size: 20px;
}

.project {
    position: absolute;
    margin-top: 93px;
    margin-left: 30px;
    font-size: 20px;
}

.box {
    display: grid;
    grid-template-columns: 1fr;
    width: 300px;
    background: white;
    box-shadow: 2px 2px 2px black;
    text-align: center;
    margin-top: 30px;
}

.handles {
    background: white;
    box-shadow: 2px 2px 2px black;
    grid-column: 3 / 3;
    width: 300px;
    text-align: center;
    margin-top: 20px;
}

.handles div:nth-child(2) {
    font-style: italic;
}

input {
    width: 500px;
    border-radius: 50px;
    padding: 5px;
    margin-left: 60px;
    margin-top: 8px;
    background-color: rgba(128, 128, 128, 0.396);
}

.announce {
    position: absolute;
    margin-top: 7px;
    margin-left: 25px;
    font-size: 20px;
}

.trend {
    position: absolute;
    margin-top: 470px;
    margin-left: 25px;
    font-size: 20px;
}

.mantain {
    grid-column: 3 / 2;
}

.right-header {
    margin-left: 700px;
}

.hello {
    position: absolute;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 20px;
}

.hi {
    margin-left: 25px;
    font-size: 15px;
}

.morgan { 
    margin-left: 790px;
    font-size: 20px;
}

.search {
    position: absolute;
    margin-top: 8px;
    margin-left: 20px;
}

.head {
    position: absolute;
    margin-right: 50px;
}

.first-box {
    font-size: medium;
}

.peace {
    font-size: 15px;
}

.too {
    font-size: 15px;
}

.oakley {
}